<header>
  <h1 class="heading-medium">List of applicants summary</h1>
</header>
<table>
  <thead>
    <tr>
      <th>Applicant Full name</th>
      <th>Date submitted</th>
    </tr>
  </thead>
  <tbody>
  	{{{applicantSummary}}}
  </tbody>
</table>

